.idea
.env
/applications/run/.env
/applications/run/.env.*
!/applications/run/.env.local
!/applications/auth-client/.env
/applications/auth-client/public/mix-manifest.json
/applications/auth-client/public/js/app.js
/applications/auth-client/public/css/app.css
/applications/auth-client/bootstrap/cache
/applications/auth-client/storage/debugbar
/applications/auth-client/storage/framework/cache
/applications/auth-client/storage/framework/sessions
/applications/auth-client/storage/framework/testing
/applications/auth-client/storage/framework/views
/applications/auth-client/storage/logs
/infrastructures/*/*/.terraform
/infrastructures/*/*/generated
/infrastructures/*/*/*.tfvars
/infrastructures/*/*/*.tfvars.*
/infrastructures/*/*/*.tfstate
/infrastructures/*/*/*.tfstate.*
